<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include ('partials/loginStatus.ejs') %>
    <h1>Member's Only Posts</h1>
    <% if (user) { %>
    <button id="post-open-modal">Create a new post</button>
    <% } %> <% posts ? posts.forEach(post => { %>
    <ul>
      <li><%= post.title %></li>
      <li><%= post.message %></li>
      <% if (user && user.ismember) { %>
      <li>
        Username: <%= post.email %> (<%= post.first_name %> <%= post.last_name
        %>)
      </li>
      <li>Created: <%= post.date_created %></li>
      <% } %> <% if (user && user.isadmin) { %>
      <form
        method="POST"
        action="/delete/post/<%= post.post_id %>?_method=DELETE"
      >
        <button class="link-button danger" type="submit">Delete Post</button>
      </form>
      <% } %>
    </ul>
    <%}) : 'Nothing to see here.' %> <% if (user && user.ismember) { %>
    <dialog id="post-modal">
      <p id="post-close">Close</p>
      <h3>Create a new post</h3>
      <form method="POST" action="/newpost">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <button type="submit">Submit</button>
      </form>
    </dialog>
    <% } %>
    <script src="/index.js"></script>
  </body>
</html>
