<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include ('partials/loginStatus.ejs') %>
    <h1>Posts</h1>
    <% posts ? posts.map(post => { %>
    <ul>
      <li><%= post.title %></li>
      <li><%= post.message %></li>
      <% if (user) { %>
      <li>
        Username: <%= post.email %> (<%= post.first_name %> <%= post.last_name
        %>)
      </li>
      <% } %>
      <li>Created: <%= post.date_created %></li>
    </ul>
    <%}) : 'Nothing to see here.' %>
  </body>
</html>
