<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <h1>Become a member today.</h1>
    <form method="POST" action="/signup">
      <label for="email">Email (this is your username)</label>
      <input
        type="email"
        name="email"
        id="email"
        value="<%= data ? data.email : '' %>"
        required
      />
      <label for="firstname">First name</label>
      <input
        type="text"
        name="firstname"
        id="firstname"
        value="<%= data ? data.firstname : '' %>"
        required
      />
      <label for="lastname">Last name</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        value="<%= data ? data.lastname : '' %>"
        required
      />
      <div>
        <label for="isadmin">Admin User</label>
        <input type="checkbox" name="isadmin" value="true" <%= data &&
        data.isadmin ? 'checked' : '' %> />
      </div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <label for="password-confirm">Confirm password</label>
      <input type="password" name="password-confirm" id="password-confirm" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
